header {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Button */

#btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 33%;
}

#color-btn {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: white;
  border-bottom: 1px solid white;
  z-index: 10;
}

#color-btn:hover {
  cursor: pointer;
}

/* Blobs */

.blob-wrap {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.blob {
  position: relative;
  transform: scale(0.01);
}

#start-blob {
  transform: scale(0.001);
}

/* Name */

#name-wrap {
  position: relative;
  min-height: 67%;
}

#first-name-1, #first-name-2 {
  position: absolute;
  font-family: Povet, sans-serif;
  font-size: 12vw;
  z-index: -1;
}

#last-name-1, #last-name-2 {
  position: absolute;
  margin-top: 5vw; /* Font spacing*/
  padding-left: 0.3vw; /* Font align correction*/
  mix-blend-mode: difference;
  font-family: MadeInfinity-Thin, sans-serif;
  font-size: 22vw;
  z-index: -1;
}

#first-name-1 {
  opacity: 1;
}

#last-name-1 {
  opacity: 1;
}

#first-name-2 {
  opacity: 0;
  -webkit-text-stroke: 0.1px white;
  color: transparent;
  z-index: 1;
}
#last-name-2 {
  opacity: 0;
  mix-blend-mode: normal !important;
  z-index: 1;
}

/* ANIMATIONS */

.press-animation:active {
  transform: translate(-50%, -50%);
  transform: scale(0.99);
}
