::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  padding: 3px;
}

::-webkit-scrollbar-thumb:hover {
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #707070 #404040;
    scrollbar-width: thin;
  }
}
