#contact {
    position: relative;
    overflow: hidden;
    z-index: 5;
    width: 100vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#contact > h1 {
    position: relative;
    left: 50%;
    padding-top: 30px;
    text-align: center;
    font-size: 32px;
    transform: translateX(-50%);
}

#contact-sites-container {
    display: flex;
    justify-content: space-evenly;
    padding: 3vw 0;
    width: 50vw;
    margin: auto;
}

#contact-sites-container > a  {
    cursor: pointer;
    transition: transform 0.25s ease;
}

#contact-sites-container > a:hover {
    transform: scale(1.11);
}

.contact-icon {
    width: 4vw;
    color: white;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}