#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: auto;
    height: 95vh;
    margin: 3vw;
    padding: 3vw;
    transform: translateY(100%);
    overflow: hidden;
    z-index: 5;
}

.glass {
    background: rgba(255, 255, 255, 0.0);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

.project-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

  