#projects-section {
  transform: translateY(100%);
}

/** Slider */
#proj-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 500px;
  width: 1100px;
  left: 50%;
  transform: translateX(-50%);
}

/* Slider Buttons */
.slider-btn {
  position: absolute;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  transition: filter 0.25s;
}

.slider-btn:active {
  transform: scale(0.95);
}

.slider-btn:hover {
  filter: drop-shadow(0 0 10px #fff);
}

.slider-btn.disabled {
  pointer-events: none;
}

#prev-btn {
  left: 0;
}

#next-btn {
  right: 0;
}

/* Arrow icons*/
.arrow {
  border: solid #fff;
  border-width: 0 16px 16px 0;
  display: inline-block;
  padding: 16px;
}

.arrow.disabled {
  border: solid rgba(0, 0, 0, 0.3);
  border-width: 0 16px 16px 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Slider Cards */
.proj-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  height: 495px;
  width: 330px;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  color: #000;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 0.5s, opacity 0.2s, box-shadow 0.25s;
}

.proj-card[data-status="focused"] {
  transform: translateX(0) scale(1);
  z-index: 1;
}

.proj-card[data-status="before"] {
  transform: translateX(-330px) scale(0.65);
  cursor: pointer;
}

.proj-card[data-status="after"] {
  transform: translateX(330px) scale(0.65);
  cursor: pointer;
}

.proj-card[data-status="before"]:hover,
.proj-card[data-status="after"]:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
}

.proj-card[data-status="hidden-right"] {
  transform: translateX(750px) scale(0);
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.proj-card[data-status="hidden-left"] {
  transform: translateX(-750px) scale(0);
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.proj-img {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.proj-title {
  width: 100%;
  margin-top: -25px;
  font-family: "MadeInfinity-Light", sans-serif;
  font-size: 26px;
}

.proj-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: -1;
}

.proj-title::after {
  content: "";
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  height: 72%;
  background-color: #fff;
  z-index: -1;
}

.proj-description {
  height: 80px;
  font-family: "Roboto", sans-serif;
}

.proj-button {
  cursor: pointer;
  font-family: "MadeInfinity-Thin", sans-serif;
  font-size: 25px;
  word-spacing: -0.3rem;
  color: #FFF;
  padding: 2px 5px 5px 5px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #000;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s;
}

.proj-button:hover {
  transform: scale(1.02);
}

/** Active Project */

#active-proj {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 500px;
  width: 990px;
  left: 50%;
  transform: translateX(-50%);
}

#active-proj-title {
  font-size: 35px;
  text-align: center;
}

#active-proj-iframe {
  height: 495px;
  width: 750px;
  border-radius: 6px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
}

#close-btn {
  position: absolute;
  bottom: 40px;
  z-index: 11;
}

/* Close button */

#close-btn {
  position: relative;
  top: -238px;
  left: 740px;
  background-color: #E00;
  transition: opacity 0.3s;
  opacity: 0.6;
  z-index: 12;
}

#close-btn:hover {
  opacity: 0.85;
}

.cross {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-color: #E00;
  border-radius: 50%;
  clip-path: circle(50% 50% at 50%);
}
.cross:before, .cross:after {
  position: absolute;
  top: 3px;
  left: 14px;
  content: "";
  height: 25px;
  width: 4px;
  background-color: #FFF;
}
.cross:before {
  transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
}

/** Media Queries */
/* 0.76 ratio */
@media (max-width: 1130px) {
  .proj-card {
    height: 375px;
    width: 250px;
    padding: 12px;
  }
  .proj-img {
    border-radius: 50%;
    height: 133px;
    width: 133px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .proj-title {
    margin-top: -10px;
    font-size: 24px;
  }
  .proj-description {
    margin-top: -6px;
    white-space: wrap;
    height: 90px;
  }
  .proj-card[data-status="before"] {
    transform: translateX(-250px) scale(0.65);
  }
  .proj-card[data-status="after"] {
    transform: translateX(250px) scale(0.65);
  }
  #prev-btn {
    left: 130px;
  }
  #next-btn {
    right: 130px;
  }
}

@media (max-width: 830px) {
  #projects-section {
    height: auto;
  }
  #proj-slider {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }
  .proj-card {
    height: 495px;
    width: 90vw;
    align-items: center;
    position: relative;
  }
  .proj-card:hover {
    transform: scale(1.035);
  }
  .proj-card[data-status="before"] {
    transform: unset;
    pointer-events: unset;
    opacity: 1;
    z-index: 0;
  }
  #prev-btn,
  #next-btn{
    display: none;
  }

  .proj-card[data-status="focused"]:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
  }

  .proj-card[data-status="focused"],
  .proj-card[data-status="before"],
  .proj-card[data-status="after"],
  .proj-card[data-status="hidden-left"],
  .proj-card[data-status="hidden-right"] {
    transform: unset;
    pointer-events: unset;
    opacity: unset;
    z-index: unset;
  }
}
