.blobs {
  overflow: hidden;
}

.blob-wrap {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-blob-wrap {
  position: absolute;
}

.blob {
  position: relative;
  transform: scale(0);
}

.start-blob {
  transform: scale(0);
}