#loading {
  position: absolute;
  top: 45%; /* Percieved center */
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeinout 3s linear infinite;
}

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.15;
  }
}

/* Background Text */
#good-container, #vibes-container{
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

#good-container {
  transform: translateY(-100%); /* Start animation off screen */
  left: -3.5vw; /* Fixes "GOOD" from "disappearing prematurely" */
}

#vibes-container {
  transform: translateY(100%); /* Start animation off screen */
  left: -4.5vw; /* Fixes "VIBES" from "appearing prematurely" */
  margin-top: 27vw;
}

.bg-text {
  display: block;
  position: relative;
  font-family: DexaRound, sans-serif;
  font-size: 31vw;
  letter-spacing: -1.2vw;
}

