/* Background Text */

.reveal {
    position: absolute;
    opacity: 0;
  }

.bg-text {
  position: absolute; /* could be "fixed" */
  transform: translate(-50%, -40%);
  font-family: DexaRound, sans-serif;
  font-size: 10vw;
  z-index: -10;
  outline: 1px solid red;
}

#good1 {
}