* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color1: #faaf1f;
  --color2: #e64360;
  --color3: #1f36fa;
  --color4: #43dce6;
  --color5: #fa1fe5;
  --color6: #6d43e6;
  --color7: #100e17;
  --color8: #5918df;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFF;
  background-color: #000;
  overflow-x: hidden;
  overflow-y: hidden;
}

.reset-btn {
  all: unset;
  cursor: pointer;
  outline: revert;
}

.reveal {
  opacity: 0;
}

.hidden {
  display: none;
}

.non-selectable {
  pointer-events: none;
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #FFF;
  border-radius: 3px;
  padding: 3px;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #dfdfdf #cacaca;
    scrollbar-width: thin;
  }
}

/* Fonts */
@font-face {
  font-family: "PovetSans";
  src: url("./media/fonts/Povet-Sans.otf") format("opentype");
}

@font-face {
  font-family: "MadeInfinity-Light";
  src: url("./media/fonts/MADEINFINITY_Light.otf") format("opentype");
}

@font-face {
  font-family: "MadeInfinity-Thin";
  src: url("./media/fonts/MADEINFINITY_Thin.otf") format("opentype");
}

@font-face {
  font-family: "Coolvetica";
  src: url("./media/fonts/Coolvetica.otf") format("opentype");
}

@font-face {
  font-family: "DexaRound";
  src: url("./media/fonts/DexaRound_ExtraBold.otf") format("opentype");
}

#loading-bg {
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
}