* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color1: #faaf1f;
  --color2: #e64360;
  --color3: #1f36fa;
  --color4: #43dce6;
  --color5: #fa1fe5;
  --color6: #6d43e6;
  --color7: #100e17;
  --color8: #5918df;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

#root {
  width: 100vw;
}

body:empty {
  content: "Loading";
  color: red;
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden; /* Separate for JS issues */
  overflow-y: hidden; 
  background-color: black;
  color: white;
  font-family: 'Arial', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.stroked {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

.hidden {
  display: none;
}

.transparent {
  opacity: 0;
  color: transparent;
}

.reveal {
  /* position: absolute; /*! Uncomment this if anything breaks */
  opacity: 0;
  z-index: 5;
}

.non-selectable {
  user-select: none;
}

.under-construction{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1vw;
  font-size: 4.5vw;
  background-color: black;
  transform: translate(-50%, -50%);
}

.cooltext {
  font-family: Coolvetica, sans-serif;
}

.reset-button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  outline: none;
  color: inherit;
}

.reset-button:focus {
  outline: none;
  outline-offset: -4px;
}


/*Local font imports*/
@font-face {
  font-family: Povet;
  src: url("./fonts/Povet-Sans.otf") format("opentype");
}

@font-face {
  font-family: MadeInfinity-Light;
  src: url("./fonts/MADEINFINITY_Light.otf") format("opentype");
}

@font-face {
  font-family: MadeInfinity-Thin;
  src: url("./fonts/MADEINFINITY_Thin.otf") format("opentype");
}

@font-face {
  font-family: Coolvetica;
  src: url("./fonts/Coolvetica.otf") format("opentype");
}

@font-face {
  font-family: DexaRound;
  src: url("./fonts/DexaRound_ExtraBold.otf") format("opentype");
}